@import '../utils/vars';

.benefits-custom {
  width: 100%;
  padding-bottom: 60px;

  &__wrapper {
    display: flex;
    flex-direction: column; // Pionowo na mobile
    gap: 40px;

    @media (min-width: 1200px) {
      flex-direction: row !important; // Poziomo na desktop
      gap: 24px;
    }
  }

  &__title-col { flex: 1; }

  &__content-col {
    flex: 1;
    padding-top: 40px; // Mniejszy na mobile
    @media (min-width: 1200px) {
      padding-top: 120px; // Twoje 120px na desktop
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
    @media (min-width: 1200px) { font-size: 48px; }
  }

  &__item {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    margin-bottom: 16px;
  }

  &__description {
    font-size: 16px;
    line-height: 1.5;
    color: #616161;
    max-width: 100%;

    @media (min-width: 1200px) {
      max-width: 410px;
    }
  }
}
