@import '../utils/vars';

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px; // Mobile: mały padding

  @media (min-width: $tablet) {
    padding: 0 40px;
  }

  @media (min-width: $desktop) {
    padding: 0 120px; // Twój oryginalny padding desktopowy
  }
}
