.header {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: 120px;
    height: auto;
  }

  &__actions {
    display: flex;
    gap: 32px;
    align-items: center;
    margin-right: 40px;
  }

  &__phone-number {
    display: inline-block;
    transform: translateX(10px);
    opacity: 0;
    font-size: 16px;
    font-weight: 700;
    color: #292929;
    white-space: nowrap;
    transition: all 0.3s ease;
  }

  &__phone-wrapper {
    display: flex;
    gap: 12px;
    align-items: center;
    cursor: pointer;

    &:hover .header__phone-number {
      transform: translateX(0);
      opacity: 1;
    }
  }

  &__icon-btn,
  &__menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;

    img {
      display: block;
      width: 24px;
      height: 24px;
      transition: transform 0.2s ease;
    }
  }

  &__icon-btn img {
    filter: brightness(0) saturate(100%) invert(13%) sepia(0%) saturate(0%) hue-rotate(186deg) brightness(96%) contrast(88%);
  }

  &__menu-btn {
    &:hover img {
      content: url('../images/photos/menu-icon-hover.svg');
      transform: scale(1.1);
    }
  }
}
