@import './utils/vars';
@import './fonts';
@import './typography';

@import './blocks/container';
@import './blocks/header';
@import './blocks/hero';
@import './blocks/categories';
@import './blocks/benefits';
@import './blocks/footer-banner';
@import './blocks/mobile-nav';
@import './blocks/buttons';
@import './blocks/products';
@import './contact';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: $f-main;
  background-color: $c-white;
}
