$c-white: #FFF;
$c-black: #000;
$c-gray-light: #F5F5F7;
$c-gray-dark: #707072;
$tablet: 768px;
$desktop: 1260px;
$f-main: 'Inter', sans-serif;
$color-dark: #1d1d1f;
$color-white: #ffffff;
$transition-speed: 0.3s;
